<div class="contenedor-landing-page">
    <div class="landing-page mat-elevation-z8">
        <h1>Bienvenido a CliniCat Salud Online</h1>
        
        <div class="info">
            <h2>¿Quiénes somos?</h2>
            <p>Especialistas en salud comprometidos con el bienestar de nuestros pacientes.</p>

            <h2>Nuestra clínica</h2>
            <p>
            CliniCat cuenta con <strong>6 consultorios</strong>, <strong>2 laboratorios</strong> y
            una <strong>sala de espera general</strong>. Nuestros profesionales de diversas especialidades
            atienden de lunes a viernes de 8:00 a 19:00 y los sábados de 8:00 a 14:00.
            </p>

            <h2>Horarios de Atención</h2>
            <p><strong>Lunes a Viernes:</strong> 8:00 - 19:00</p>
            <p><strong>Sábados:</strong> 8:00 - 14:00</p>
        
            <h2>¿Cómo funciona?</h2>
            <p>
                Los turnos son solicitados en línea, seleccionando el profesional o especialidad. 
                La duración mínima de un turno es de 30 minutos, pero se adapta según las necesidades
                del paciente.
            </p>
        </div>
        
        <button class="iniciar-sesion-btn" mat-flat-button routerLink="/inicio-sesion">Iniciar Sesión</button>

        <p style="margin-top: 1rem;">No tiene cuenta? <a routerLink="/registro">Registrese aquí</a></p>
         <img src="imgs/catclinic.png" class="cat-doctor-img" alt="Gato Doctor">
    </div>
</div>